.inputsWrapper {
  display: flex;
  gap: 12px;
}

input {
  max-width: 40px;
  max-height: 50px;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  padding: 10px 10px;
  border-radius: 30%;

  border: 2px solid #ccc;
  outline: none;
  transition: border-color 0.3s, outline 0.3s;
}

.input:focus {
  border-color: blue;
  box-shadow: 0 0 0 4px white, 0 0 0 6px blue;
}

.input:hover {
  border-color: blue;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}
